{% extends "base.html.twig" %}

{% block title %}AppBundle:Store:repair{% endblock %}

{% block body %}
	<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="{{path('homepage')}}">Accueil</a></li>
							<li class="active">Reparation Samrtphones</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->


<div class="container my-5">
	<div class="row">
		<div class="col-md-4">
			<ul class="list-group">
	  
			  {% for i, marque in marques %}
						<li class="list-group-item {% if i == 0 %} active {% endif %}"> <a href=""> {{ marque.name }} </a></li>
					{% endfor %}
			</ul>
		</div>
		<div class="col-md-6">
			 <h1>Reparaion Samsaung </h1>
		</div>
	</div>
</div>
	
	




{% endblock %}
